@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.marginTop {
  margin-top: 110px;
}

.curved-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;

  /* Curve only at the bottom */
  clip-path: path("M0,0 H100% V85% C70% 95%, 30% 95%, 0 85% Z");
}
